:root {
  --basic-white: #ffffff;
  --semi-transparent-white: rgba(255,255,255, 0.5);
  --semi-transparent-white: rgba(255,255,255, 0.3);
  --dark-desaturated-blue: #32425c;
  --extra-desaturated-blue: #293449;
  --bright-red: #ee3643;
  --strong-red: #ca2c37;
  --extra-strong-red: #ba2732;
  --light-red: #ff5357;
  --basic-black: #000000;
  --dark-moderate-green: #63a63e;
  --strong-green: #5fbb2d;
  --extra-light-black: rgba(0,0,0, 0.0001);
  --light-grayish-blue: #f3f7f9;
  --light-grayish-orange: #f9f5f0;
  --light-orange: #ffbf47;
  --bright-cyan: #3bbce3;
  --very-soft-magenta: #dc91d8;
  --slightly-desaturated-lime-green: #8ed78f;
  --basic-light-orange: #ffc047;
  --basic-gray: #a9a9a9;
  --extra-light-orange: #ffda96;
  --extra-gray: rgba(0,0,0, 0.24);
  --light-gray: #c5c5c5;
  --basic-extra-gray: rgba(197,197,197, 0.3);
  --dark-gray: rgba(169,169,169, 0.3);
  --basic-dark-blue: #1d2739;
  --very-light-orange:#ffd180;
  --light-grayish-blue: #f1f5f7;
  --light-white: #f1f5f7;
  --light-beige: #f7f3ec;
  --light-gray-white: #f2f6f8;
  --light-extra-gray: #e5e5e5;
  --light-black:  #EAEAEA;
  --light-green: #367315;
  --dark-green: #518534;
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src:  local("Cuprum"),
        url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src:  local("Cuprum Bold"),
        url("../fonts/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src:  local("Cuprum Italic"),
        url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:  local("PT Sans Bold"),
        url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:  local("PT Sans"),
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
}

.page {
  height: 100%;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

.address-info {
  font-style: normal;
}


/* логотип */
.logo-header {
  box-shadow: inset 0px -5px 0px var(--extra-gray);
  width: 220px;
  height: 47px;
}

/*menu-header*/


.menu-header-bar {
  background-color: var(--extra-desaturated-blue);
}

.menu-header {
  display: grid;
  grid-template-columns: 220px 270px 1fr;
  height: 42px;
  background-color: var(--extra-desaturated-blue);
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.list-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}


.link-nav {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.navigation-link,
.link-menu,
.menu-header,
.link-menu-full {
  color: var(--basic-white);
}

.search-form, .form-input {
  padding: 0;
  margin-left: 0;
  border: none;
  border: 0;
  width: 227px;
  height: 42px;
  background-color: var(--extra-desaturated-blue);
  -webkit-appearance: none;
}

.search-form {
  padding-left: 44px;
}

.search-form:active {
  color: var(--semi-transparent-white);
}

.search-form:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  outline: none;
}

.list-menu {
  padding: 0;
  margin: 0;
}

.item-menu, .item-order {
  width: 150px;
  height: 42px;
}

.link-menu-full {
  background-color: var(--bright-red);
}

.item-order {
  background-color: var(--dark-moderate-green);
}

.link-order, .link-menu {
  text-align: center;
  margin:0;
  width: 150px;
  height: 42px;
  display: inline-block;
  color: var(--basic-white);
}

.link-order:hover {
  background-color: var(--strong-green);
}

.link-order:active{
  color: var(--semi-transparent-white);
}



/*info-header*/

.name-user:active {
  color: var(--light-gray);
}

.may-orders, .personal-area {
  color: var(--dark-desaturated-blue);
}

.may-orders:hover,
.personal-area:hover {
  color: var(--bright-red);
}

.may-orders:active,
.personal-area:active {
  color: var(--light-gray);
}

.info-header-bar {
  background-color: var(--light-white);
}

.info-header {  
  background-color: var(--light-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.info-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--bright-red);
  margin-top: 46px;
  margin-bottom: 44.5px;
}

.header-adress {
  justify-self: center;
}

.header-tel a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  color: var(--bright-red);
}

.header-tel {
  text-align: center;
  border: 3px solid var(--basic-white);
  margin-top: 46px;
  margin-bottom: 3px;
}

.header-address-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-desaturated-blue);
  margin:0;
}

.content-login {
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.header-login {
  list-style: none;
  justify-self: center;
  display: flex;
  margin-top: 46px;
}

.btn-login,
.btn-registration {
  display: block;
  text-align: center;
  padding-top: 12px;
  background-color: var(--basic-white);
}

.btn-login {
  width: 121px;
  height: 33px;
  margin-right: 10px;
}

.btn-registration {
  width: 150px;
  height: 33px;
}

.btn-login:hover,
.btn-registration:hover {
  color: var(--bright-red)
}

.btn-login:active,
.btn-registration:active {
  color: var(--light-gray);
}



/*navigation*/

.navigation-list {
  display: grid;
  grid-template-columns: 122px 122px 122px 122px 174px 122px 122px;  
  list-style: none;
  width: 766px;
  padding-left: 17px;
  margin: 0;
}

.info-header-navigation {
  background-color: var(--light-white);
  padding-bottom: 60px;
  margin-bottom: 47px;
}

.navigation-item {
  height: 60px;
}

.navigation {
  background-color: var(--dark-desaturated-blue);
  box-shadow: inset 0px -5px 0px var(--extra-desaturated-blue);
  width: 940px;
  margin: 0 auto;
  padding: 0;
  
}

.navigation-link {
  display: block;
  text-align: center;
  padding-top: 15px;
  height: 45px;
  
}

.navigation-link:hover {
  background-color: var(--extra-desaturated-blue);
  box-shadow: inset 0px -5px 0px var(--extra-desaturated-blue);
}

.navigation-link:active {
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px -5px 0px var(--extra-desaturated-bluer);
}

/*services*/
/*services-list*/

.link-btn-section {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.services-subtitle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.link-services {
  background-color: var(--semi-transparent-white);
  color: var(--basic-white);
}

.link-services:hover {
  background-color: var(--basic-extra-gray);
}

.link-services:active{
  background-color: var(--dark-gray);
}

.shares,
.categories {
  color: var(--basic-white);
  list-style: none;
  padding:0;
  margin: 0;
}

.categories {
  display: flex;
  justify-content:space-between;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: -1;
}

.shares {
  display: flex;
  flex-direction:column;
  grid-column: 3/-1;
  grid-row-start: 2;
  grid-row-end: 4; 
}

.shares .services-item {
  margin-bottom: 20px;
}

.services {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.services-item {
  width: 300px;
  height: 123px;
}

.services-blok {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
}

.service-subtitle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}

.services-item-materials{
  background-color: var(--light-orange);
}

.services-item-tool{
  background-color: var(--bright-cyan);
}

.services-item-technics{
  background-color: var(--very-soft-magenta);
}

.services-item-discounts{
  background-color: var(--slightly-desaturated-lime-green);
}

.services-item-delivery{
  background-color: var(--basic-light-orange);
}

/*list-tool-slide*/

.tool-subtitle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.tool-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.link-slide {
  background-color: var(--bright-red);
  color: var(--basic-white);
}

.link-slide:hover {
  background-color: var(--strong-red);
}

.link-slide:active {
  background-color: var(--extra-strong-red);
}

.item-tool {
  position: relative;
}

.tool-position {
  position:absolute;
  bottom: 50px;
  width: 350px;
}

/*popular-products*/

.section-saber {
  background-color: var(--light-grayish-orange);
  grid-column: 1/5;
}

.parameters {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-products {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.title-popular-products {
  color: var(--dark-desaturated-blue);

}

.list-popular-products {
  display: grid;
  grid-template-columns: 220px 220px 220ox 220px;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-all-product {
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.item-popular-products {
  width: 218px;
  height: 316px;
  border: 1px solid var(--light-black);
}

.link-all-product:hover {
  background-color: var(--strong-red);
}

.link-all-product:active {
  background-color: var(--extra-strong-red);
}

.btn-buy, .btn-bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.btn-bookmark {
  width: 135px;
  height: 38px;
  background-color: var(--basic-white);
  text-decoration: none;
  border: 3px solid var(--dark-moderate-green);
  border-radius: 2px;
  color: var(--dark-desaturated-blue);

}

.btn-bookmark:hover {
  border: 3px solid var(--dark-desaturated-blue);
}

.btn-bookmark:active {
  opacity: 0.5;
}

.btn-buy {
  width: 135px;
  height: 38px;
  background-color: var(--dark-moderate-green);
  text-decoration: none;
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--light-green);
  border: none;
  border-radius: 2px;
}

.btn-buy:hover {
  background-color: var(--strong-green);
}

.btn-buy:active {
  background-color: var(--dark-green);
}

.caption-product {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.link-product {
  color: var(--basic-black);
}

.old-price {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: var(--basic-gray);
}

.price-product {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--bright-red);

}

/*popular-manufacturers*/

.popular-manufacturers {
  width: 940px;
  margin: 70px auto;
  padding: 0;
}

.link-manufacturers {
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.section-manufacturers-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.manufacturers-item {
  width: 218px;
  height: 143px;
  background-color: var(--basic-white);
  border: 1px solid var(--light-black);
}

.link-manufacturers:hover {
  background-color: var(--strong-red);
}

.link-manufacturers:active {
  background-color: var(--extra-strong-red);
}

.title-manufacturers {
  color: var(--dark-desaturated-blue);
}

/*services-offers*/

.services-offers-bar {
  background-color: var(--light-grayish-blue);
}

.services-offers {
  display: grid;
  grid-template-columns: 260px 1fr;
  width: 940px;
  margin: 0 auto;
}

.services-subtitle {
  grid-column: 1/-1;
}

.item-services-offers:hover {
  background-color: var(--extra-desaturated-blue);
}

.text-company {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.title-services-delivery,
.title-services-guarantee,
.title-services-credit {
  color: var(--dark-desaturated-blue);
}

.services-offers-list,
.services-tabs-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-offers-list {
  width: 240px;
}

.link-btn-credit {
  background-color: var(--light-red);
  color: var(--basic-white);
}

.link-btn-credit:hover {
  background-color: var(--bright-red);
}

.link-btn-credit:active {
  background-color: var(--extra-strong-red);
}

.item-offers {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.item-offers-click {
  color: var(--dark-desaturated-blue);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);

}

.item-services-offers{
  color: var(--basic-white);
  background-color: var(--dark-desaturated-blue);
  box-shadow: 0px 1px 0px var(--extra-desaturated-blue), inset 0px 1px 0px var(--dark-desaturated-blue);
}


/*about-us*/

.about-us {
  display: grid;
  grid-template-columns: max-content max-content;
  gap:192px;
  width: 940px;
  margin: 50px auto 0 auto;
  padding: 0;
}

.link-about-company {
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.link-about-company:hover {
  background-color: var(--strong-red);
}

.link-about-company:active {
  background-color: var(--extra-strong-red);
}

.link-contacts {
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.link-contacts:hover {
  background-color: var(--strong-red);
}

.link-contacts:active {
  background-color: var(--extra-strong-red);
}

/*footer*/

.main-footer {
  margin-top: 70px;
}

.link-footer-tel, .text-address {
  color: var(--basic-white);
  background-color: transparent;
}

.footer-top-bar {
  background-color: var(--dark-desaturated-blue);
}

.footer-top {
  display: grid;
  grid-template-columns: max-content 1fr;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.footer-navigation-list,
.footer-list-product {
  display: flex;
  justify-content: flex-end;
  padding:0;
}


.footer-link-product,
.footer-navigation-link {
  margin-left: 58px;
}

.footer-bottom-bar {
  background-color: var(--extra-desaturated-blue);
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.list-social-network {
  display: flex;
  justify-content: center;
  padding: 0;

}

.footer-navigation-link,
.link-social-network {
  color: var(--light-white);
}

.footer-link-product {
  color: var(--very-light-orange);
}



.footer-navigation-list,
.footer-list-product,
.list-social-network {
  list-style: none;
}

.footer-bottom-email {
  display: flex;
  justify-content: flex-end;  
}

.text-site {
  margin-left: 51px;
}

.text-Copyright,
.text-email,
.text-site {
  color: var(--basic-white);
}

.footer-navigation-link:hover,
.footer-link-product:hover,
.link-email:hover,
.link-site:hover {
  text-decoration: underline;
}

.footer-navigation-link:active,
.footer-link-product:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.link-email:active,
.link-site:active {
  color: var(--bright-red);
}

/*pop-up-write*/

.link-site, .link-email {
  color: var(--very-light-orange);
}

.text-info-contact {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.hiding-content {
  display: none;
}

/*catalog*/

.title-perforator {
  color: var(--dark-desaturated-blue);
  background-color: var(--light-gray-white);
}

.breadcrumbs-link {
  color: var(--basic-black);
}

/*breadcrumbs-catalog*/

.breadcrumbs-list {
  list-style: none;
}

.sorting-item:hover,
.sorting-item-current:hover {
  opacity: 1;
}

.sorting-item,
.sorting-item-current {
  opacity: 0.3;
}

.subject-catalog {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

/*Filter*/

.btn-submit {
  width: 220px;
  height: 38px;
  text-decoration: none;
  background-color: var(--basic-white);
  border: 1px solid var(--light-extra-gray);
}

.title-filter {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.subject-filter {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.range-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: var(--light-beige);
}

.range-price {
  background-image: url("../img/background/range1.png");
}

.catalog-fiter-caption {
  background-color: var(--light-beige);
}

.list-hiding {
  list-style: none;
}

/*pagination*/
.pagination-link-current {
  background-color: var(--bright-red);
  border: 1px solid var(--bright-red);
  color: var(--basic-white);
  border-radius: 2px;
}

.pagination-link {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid var(--light-gray);
  border-radius: 2px;
}

.pagination-link:hover {
  border: 1px solid var(--light-extra-gray);
}

.pagination-link:active {
  border: 1px solid var(--bright-red);
}

/*sorting*/

.triangle-up {
	width: 11px;
	height: 10px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 12px solid var(--bright-red);
}

.triangle-down {
	width: 11px;
	height: 10px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 12px solid var(--light-gray);
}

.sorting-item-current {
  color: var(--bright-red);
}

.sorting {
  background-color: var(--light-beige);
}

.sorting-item {
  color: var(--basic-black);
  border-bottom: 1px dotted var(--bright-red) ;
}

/*about-perforator*/

.about-perforator {
  background-color: var(--light-grayish-blue);
}

/*popup-cart*/
.product-added-text{
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.oval {
  height: 66px;
  padding-left: 70px;
  background: url("../img/decaractive/oval.svg") no-repeat;
}

.popup-place-order {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--bright-red);
  text-transform: uppercase;
}

.continue-shopping {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
}