:root {
  --basic-white: #ffffff;
  --semi-transparent-white: rgba(255,255,255, 0.5);
  --dark-desaturated-blue: #32425c;
  --extra-desaturated-blue: #293449;
  --bright-red: #ee3643;
  --strong-red: #ca2c37;
  --extra-strong-red: #ba2732;
  --light-red: #ff5357;
  --basic-black: #000000;
  --dark-moderate-green: #63a63e;
  --strong-green: #5fbb2d;
  --extra-light-black: rgba(0,0,0, 0.0001);
  --light-grayish-blue: #f3f7f9;
  --light-grayish-orange: #f9f5f0;
  --light-orange: #ffbf47;
  --bright-cyan: #3bbce3;
  --very-soft-magenta: #dc91d8;
  --slightly-desaturated-lime-green: #8ed78f;
  --basic-light-orange: #ffc047;
  --basic-gray: #a9a9a9;
  --extra-light-orange: #ffda96;
  --extra-gray: rgba(0,0,0, 0.24);
  --light-gray: #c5c5c5;
  --basic-extra-gray: rgba(197,197,197, 0.3);
  --dark-gray: rgba(169,169,169, 0.3);
  --basic-dark-blue: #1d2739;
  --very-light-orange:#ffd180;
  --light-grayish-blue: #f1f5f7;
  --light-white: #f1f5f7;
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src:  local("Cuprum"),
        url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src:  local("Cuprum Bold"),
        url("../fonts/cuprumbold.woff2") format("woff2"),
        url("fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src:  local("Cuprum Italic"),
        url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:  local("PT Sans Bold"),
        url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:  local("PT Sans"),
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.address-info {
  font-style: normal;
}


/* логотип */
.logo-header {
  background-image: url(img/logo/logo-background-header.svg);
  box-shadow: inset 0px -5px 0px var(--extra-gray);
  width: 220px;
  height: 47px;
}

/*menu-header*/

.menu-header {
  background-color: var(--extra-desaturated-blue);
}

.list-menu {
  list-style: none;
}


.link-nav {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.navigation-link,
.link-menu,
.menu-header {
  color: var(--basic-white);
}

.search-form,
.link-menu {
  background-color: var(--extra-desaturated-blue);
}

.link-order {
  background-color: var(--dark-moderate-green);
  color: var(--basic-white);
}

.link-order:hover {
  background-color: var(--strong-green);
}

.link-order:active{
  color: var(--semi-transparent-white);
}



/*info-header*/

.info-header {
  background-color: var(--extra-light-black);
}

.info-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--bright-red);
}

.header-tel a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  color: var(--bright-red);
}

.header-address-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-desaturated-blue);
}

.content-login {
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.btn-login:hover,
.btn-registration:hover {
  color: var(--bright-red)
}

.btn-login:active,
.btn-registration:active {
  color: var(--light-gray);
}

/*navigation*/

.navigation-list {
  list-style: none;
}

.navigation {
  background-color: var(--dark-desaturated-blue);
  box-shadow: inset 0px -5px 0px var(--extra-desaturated-blue);
}

.navigation-link:hover {
  background-color: var(--extra-desaturated-blue);
  box-shadow: inset 0px -5px 0px var(--extra-desaturated-blue);
}

.navigation-link:active {
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px -5px 0px var(--extra-desaturated-bluer);
}

/*services*/
/*services-list*/

.link-btn-section {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.services-subtitle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.link-services {
  background-color: var(--semi-transparent-white);
  color: var(--basic-white);
}

.link-services:hover {
  background-color: var(--basic-extra-gray);
}

.link-services:active{
  background-color: var(--dark-gray);
}

.list-tool-slide,
.services-list {
  color: var(--basic-white);
}

.service-subtitle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}

.services-item-materials{
  background-color: var(--light-orange);
}

.services-item-tool{
  background-color: var(--bright-cyan);
}

.services-item-technics{
  background-color: var(--very-soft-magenta);
}

.services-item-discounts{
  background-color: var(--slightly-desaturated-lime-green);
}

.services-item-delivery{
  background-color: var(--basic-light-orange);
}

/*list-tool-slide*/

.tool-subtitle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.tool-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.link-slide {
  background-color: var(--bright-red);
  color: var(--basic-white);
}

.link-slide:hover {
  background-color: var(--strong-red);
}

.link-slide:active {
  background-color: var(--extra-strong-red);
}

/*popular-products*/

.section-saber {
  background-color: var(--light-grayish-orange);
}

.parameters {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.title-popular-products {
  color: var(--dark-desaturated-blue);
}

.list-popular-products {
  list-style: none;
}

.link-all-product {
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.link-all-product:hover {
  background-color: var(--strong-red);
}

.link-all-product:active {
  background-color: var(--extra-strong-red);
}

.btn-buy, .btn-bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.caption-product {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.link-product {
  color: var(--basic-black);
}

.old-price {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: var(--basic-gray);
}

.price-product {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--bright-red);

}

/*popular-manufacturers*/

.link-manufacturers {
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.link-manufacturers:hover {
  background-color: var(--strong-red);
}

.link-manufacturers:active {
  background-color: var(--extra-strong-red);
}

.title-manufacturers {
  color: var(--dark-desaturated-blue);
}

/*services-offers*/

.services-offers {
  background-color: var(--light-grayish-blue);
}

.item-services-offers:hover {
  background-color: var(--extra-desaturated-blue);
}

.text-company {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.title-services-delivery,
.title-services-guarantee,
.title-services-credit {
  color: var(--dark-desaturated-blue);
}

.services-offers-list,
.services-tabs-list {
  list-style: none;
}

.link-btn-credit {
  background-color: var(--light-red);
  color: var(--basic-white);
}

.link-btn-credit:hover {
  background-color: var(--strong-red);
}

.link-btn-credit:active {
  background-color: var(--extra-strong-red);
}

.item-offers {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.item-offers-click {
  color: var(--dark-desaturated-blue);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);

}

.item-services-offers{
  color: var(--basic-white);
  background-color: var(--dark-desaturated-blue);
  box-shadow: 0px 1px 0px var(--extra-desaturated-blue), inset 0px 1px 0px var(--dark-desaturated-blue);
}


/*about-company*/

.link-about-company {
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.link-about-company:hover {
  background-color: var(--strong-red);
}

.link-about-company:active {
  background-color: var(--extra-strong-red);
}

.link-contacts {
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.link-contacts:hover {
  background-color: var(--strong-red);
}

.link-contacts:active {
  background-color: var(--extra-strong-red);
}

/*footer*/

.link-footer-tel, .text-address {
  color: var(--basic-white);
  background-color: transparent;
}

.footer-top {
  background-color: var(--dark-desaturated-blue);
}

.footer-bottom {
  background-color: var(--extra-desaturated-blue);
}

.footer-navigation-link,
.link-social-network {
  color: var(--light-white);
}

.footer-link-product {
  color: var(--very-light-orange);
}



.footer-navigation-list,
.footer-list-product,
.list-social-network {
  list-style: none;
}


.text-Copyright,
.text-email,
.text-site {
  color: var(--basic-white);
}

.footer-navigation-link:hover,
.footer-link-product:hover,
.link-email:hover,
.link-site:hover {
  text-decoration: underline;
}

.footer-navigation-link:active,
.footer-link-product:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.link-email:active,
.link-site:active {
  color: var(--bright-red);
}

/*pop-up-write*/

.link-site, .link-email {
  color: var(--very-light-orange);
}

.text-info-contact {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.hiding-content {
  display: none;
}








