:root {
  --basic-white: #ffffff;
  --basic-dark-gray: #3D546F;
  --semi-transparent-white: rgba(255,255,255, 0.5);
  --semi-dark-white: rgba(255,255,255, 0.3);
  --semi-dark-black: rgba(0,0,0,0.3);
  --very-dark-black: rgba(0,0,0, 0.4);
  --dark-desaturated-blue: #32425c;
  --extra-desaturated-blue: #293449;
  --bright-red: #ee3643;
  --strong-red: #ca2c37;
  --extra-strong-red: #ba2732;
  --light-red: #ff5357;
  --basic-black: #000000;
  --dark-moderate-green: #63a63e;
  --strong-green: #5fbb2d;
  --extra-light-black: rgba(0,0,0, 0.0001);
  --very-light-black:rgba(0,0,0, 0.15);
  --very-dark-black: rgba(0,0,0, 0.75);
  --light-grayish-blue: #f3f7f9;
  --light-grayish-orange: #f9f5f0;
  --light-orange: #ffbf47;
  --bright-cyan: #3bbce3;
  --very-soft-magenta: #dc91d8;
  --slightly-desaturated-lime-green: #8ed78f;
  --basic-light-orange: #ffc047;
  --basic-gray: #a9a9a9;
  --extra-light-orange: #ffda96;
  --extra-gray: rgba(0,0,0, 0.24);
  --light-gray: #c5c5c5;
  --basic-extra-gray: rgba(197,197,197, 0.3);
  --dark-gray: rgba(169,169,169, 0.3);
  --basic-dark-blue: #1d2739;
  --very-light-orange:#ffd180;
  --light-grayish-blue: #f1f5f7;
  --light-white: #f1f5f7;
  --light-beige: #f7f3ec;
  --light-gray-white: #f2f6f8;
  --light-extra-gray: #e5e5e5;
  --light-black:  #EAEAEA;
  --extra-black: #405069;
  --light-green: #367315;
  --dark-green: #518534;
  --very-light-extra-gray: #444444;
  --very-extra-blue: #161D29;
  --basic-gray-white: #D7DCDE;
  --extra-green:#00ca74;
  --basic-beige: #ababab;
  --extra-light-beige: #f4f4f4;
  --very-light-beige: #cfcfcf;
  --dark-light-gray: #b5b5b5;
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src:  local("Cuprum"),
        url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src:  local("Cuprum Bold"),
        url("../fonts/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src:  local("Cuprum Italic"),
        url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:  local("PT Sans Bold"),
        url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:  local("PT Sans"),
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
}

.page {
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img { max-width: 100% }

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  
}

a:not([class="link-logo-header"]) {
  outline: none;
}

.address-info {
  font-style: normal;
}

.page-main {
  margin-bottom: 70px;
}

/* логотип */
.logo-header {
  box-shadow: inset 0px -5px 0px var(--extra-gray);
  width: 220px;
  height: 42px;
  z-index: 1;
}

.link-logo-header[href] {
  display: block;
  height: 47px;
}

.link-logo-header[href]:active rect {
  fill: var(--extra-strong-red);
}

/*menu-header*/

.main-header {
  margin-bottom: 59px;
}

.main-header-catalog {
  margin-bottom: 14px;
}

.menu-header-bar {
  background-color: var(--extra-desaturated-blue);
}

.menu-header {
  display: grid;
  grid-template-columns: 220px 270px 1fr;
  min-height: 42px;
  background-color: var(--extra-desaturated-blue);

}

.list-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-font {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.navigation-link,
.menu-header,
.link-menu-full {
  color: var(--basic-white);
}

.search-form, .form-input {
  padding: 0;
  margin-left: 0;
  border: none;
  width: 229px;
  border: 0;
  height: 42px;
  background-color: var(--extra-desaturated-blue);
  -webkit-appearance: none;
}

.form-input {
  position: relative;
}

.search-form {
  padding-left: 42px;
}

.search-form::placeholder {
  color: var(--basic-white);
}

.search-magnifier {
  position: absolute;
  left: 17px;
  top: 12px;
  opacity: 0.3;
}

.form-input:hover  .search-magnifier{
  opacity: 1;
}

.form-input:focus-within  path{
  fill: var(--bright-red);
}

.form-input:focus-within .search-magnifier {
  opacity: 1;
}

.search-form:active {
  color: var(--semi-transparent-white);
}

.search-form:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  outline: none;
}

.link-menu-full {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: var(--bright-red);
}

.link-menu, .link-order {
  position: relative;
  margin:0;
  min-width: 150px;
  display: inline-block;
  vertical-align: top;
  color: var(--basic-white);
}

.link-order {
  text-align: center;
  padding: 9px 16px 9px 19px;
  box-sizing: border-box;
  background-color: var(--dark-moderate-green);
}

.link-cart {
  text-align: end;
  padding: 9px 26px;
  box-sizing: border-box;
}

.link-cart-full {
  text-align: end;
  min-width: 136px;
  padding: 10px 21px 8px 35px;
  box-sizing: border-box;
}

.link-cart-full:active {
  color: var(--semi-transparent-white);
}

.link-bookmarks {
  text-align: end;
  padding: 9px 24px;
  box-sizing: border-box;
}

.link-bookmarks-catalog {
  text-align: end;
  padding: 10px 38px 8px 21px;
  box-sizing: border-box;
}

.link-order:hover,
.link-order:focus {
  background-color: var(--strong-green);
}

.link-order:active{
  background-color: var(--dark-moderate-green);
  color: var(--semi-transparent-white);
}

.icon-bookmarks {
  position: absolute;
  left: 20px;
  top:13px;
  opacity: 0.3;
}

.icon-bookmarks-full {
  position: absolute;
  left: 6px;
  top:13px;
  opacity: 0.3;
}

.icon-cart {
  position: absolute;
  left: 26px;
  top:13px;
  opacity: 0.3;
}

.icon-cart-full {
 position: absolute;
 left: 12px;
 top: 13px;
 opacity: 0.3;
}

.link-menu:hover svg,
.link-menu:focus svg {
  opacity: 1;
}

.link-menu:active svg {
  opacity: 0.3;
}

.link-menu-full:hover svg,
.link-menu-full:focus svg {
  opacity: 1;
}

.link-menu-full:active svg {
  opacity: 0.3;
}

.link-menu:active {
  background-color: var(--very-extra-blue);
  color: var(--semi-transparent-white);
}

/*info-header*/

.name-user:hover path,
.icon-out:hover path,
.name-user:focus path,
.link-icon-out:focus path {
  fill: var(--basic-dark-gray);
}

.name-user:active {
  color: var(--light-gray);
}

.name-user:active path,
.icon-out:active path {
  fill: var(--light-gray);
}


.my-orders, .personal-area {
  color: var(--dark-desaturated-blue);
}

.my-orders {
  position: relative;
  margin-right: 30px;
}

.item-my-orders {
  position: relative;
}

.item-my-orders::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  right: 12px;
  top: 8px;
  border-radius: 50%;
  background-color: var(--dark-desaturated-blue);
}

.my-orders:hover,
.personal-area:hover,
.my-orders:focus,
.personal-area:focus  {
  color: var(--bright-red);
}

.my-orders:active,
.personal-area:active {
  color: var(--light-gray);
}

.info-header-bar {
  background-color: var(--light-white);
}

.info-header {
  background-color: var(--light-white);
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  align-content: start;
  padding: 44px 0 40px 0;
}

.header-catalog {
  padding: 44px 0 36px 0;
}

.info-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--bright-red);
  margin: 0;
  padding: 0 0 0 30px;
}

.name-user-text {
  position: relative;
  width: 299px;
  min-height: 45px;
  background-color: var(--basic-white);
  text-align: center;
  padding-top: 11px;
  margin: 0 0 5px 0;
  box-sizing: border-box;
}

.name-user:focus {
  outline: 1px dotted var(--basic-black);
}

.icon-user {
  position: absolute;
  top: 13px;
  left: 15px;
}

.icon-out {
  position: absolute;
  top: 14px;
  right: 17px;
}

.header-authorized-user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-self: end;
  padding-top: 2px;
}


.my-orders-text {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.header-tel a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  color: var(--bright-red);
}

.header-tel a:focus {
  outline: 1px dotted var(--basic-black);
}

.link-phone {
  position: relative;
}

.link-phone svg {
  position: absolute;
  top: 3px;
  left: -35px;
}

.link-phone:focus path {
  fill: var(--basic-dark-gray);
}

.header-tel {
  text-align: center;
  border: 3px solid var(--basic-white);
  width: 270px;
  height: 45px;
  margin: 2px 0 3px 0;
  padding: 4px 42px 5px 71px;
  box-sizing: border-box;
}

.header-address-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-desaturated-blue);
  padding-left: 10px;
  margin:0;
}

.content-login {
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.header-login {
  list-style: none;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  padding: 2px 0 0 19px;
  margin: 0;
}



.btn-login,
.btn-registration {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  background-color: var(--basic-white);
}

.btn-login {
  position: relative;
  text-align: end;
  min-width: 121px;
  margin-right: 10px;
  padding: 12px 27px 12px 45px;
}

.btn-login:hover path,
.btn-login:focus path {
  fill: var(--basic-dark-gray);
}

.btn-login:active path {
  fill: var(--light-gray);
}

.icon-login-in {
  position: absolute;
  left: 19px;
  top:13px;
}

.btn-registration {
  min-width: 150px;
  padding: 12px 24px;
  text-align: center;
}

.btn-login:hover,
.btn-registration:hover,
.btn-login:focus,
.btn-registration:focus {
  color: var(--bright-red)
}

.btn-login:active,
.btn-registration:active {
  color: var(--light-gray);
}



/*navigation*/

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.info-header-navigation {
  background-color: var(--light-white);
  padding-bottom: 60px;
}

.navigation {
  background-color: var(--dark-desaturated-blue);
  box-shadow: inset 0px -5px 0px var(--extra-desaturated-blue);
  padding: 0;
}

.navigation-link {
  display: block;
  text-align: center;
  padding: 16px 28px 20px 28px;
  min-height: 60px;
  box-sizing: border-box;

}

.navigation-link:hover,
.navigation-link:focus {
  background-color: var(--extra-desaturated-blue);
  box-shadow: inset 0px -5px 0px var(--extra-desaturated-blue);
}

.navigation-link:active {
  background-color: var(--basic-dark-blue);
  opacity: 0.5;
  box-shadow: inset 0px -5px 0px var(--extra-desaturated-bluer);
}

/*services*/
/*services-list*/

.services {
  margin-bottom: 59px;
}

.link-btn-section {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.services-subtitle-font {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.link-services {
  display: inline-block;
  vertical-align: top;
  background-color: var(--semi-dark-white);
  color: var(--basic-white);
  min-width: 135px;
  padding: 10px 22px;
  text-align: center;
  box-sizing: border-box;
}

.link-services:hover,
.link-services:focus {
  background-color: var(--basic-extra-gray);
}

.link-services:active{
  background-color: var(--dark-gray);
}

.shares,
.categories {
  color: var(--basic-white);
  list-style: none;
  padding:0;
  margin:0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: -1;
}

.shares {
  display: grid;
  grid-template-rows: repeat(2, 123px);
  gap: 20px;
  grid-column: 3/-1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.list-tool-slide {
  position: relative;
  grid-row: 2/4;
  grid-column: 1/3;
}

.btn-slide {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 2px solid var(--basic-white);
  outline: none;
}

.btn-slide:focus {
  outline: 1px dotted var(--basic-white);
}

.btn-next {
  top: 220px;
  left: 315px;
  background-color: var(--bright-red);
}

.btn-back {
  top: 220px;
  left: 295px;
}

.btn-back-img,
.btn-next-img {
  position: absolute;
  width: 22px;
  height: 40px;
  border: none;
  background: url("../img/decorative/icon-left-slide.svg");
  cursor: pointer;
}

.btn-back-img:focus,
.btn-next-img:focus {
  outline: 1px dotted var(--basic-white);
}

.btn-back-img {
  top: 122px;
  left: 24px;
}

.btn-next-img {
  top: 122px;
  right: 20px;
  transform: rotate(180deg);
}

.services-item {
  padding: 20px 23px;
  width: 254px;
  min-height: 83px;
}

.services-subtitle {
  margin: 0 0 14px 0;
  padding: 0;
}

.services-block {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}

.service-subtitle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}

.services-item-materials{
  position: relative;
  background-color: var(--light-orange);
  overflow: hidden;
}

.services-item-materials::before {
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  content: "";
  background: url("../img/decorative/bucket.svg") no-repeat;
}

.plank-new::after {
  position: absolute;
  content: "new";
  text-align: center;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  top:8px;
  right:-27px;
  text-transform: uppercase;
  transform: rotate(45deg);
  background-color: var(--bright-red);
  z-index: 4;
  color: var(--basic-white);
}

.services-item-tool::before {
  position: absolute;
  width: 75px;
  height: 61px;
  top: 34px;
  right: 31px;
  content: "";
  background: url("../img/decorative/electric-drill.svg") no-repeat;
}

.services-item-tool{
  position: relative;
  background-color: var(--bright-cyan);
}

.item-tool {
  position: relative;
  height: 266px;
}

.services-item-equipment{
  position: relative;
  background-color: var(--very-soft-magenta);
}

.services-item-equipment::before {
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  content: "";
  background: url("../img/decorative/tractor.svg") no-repeat;
}

.services-item-discounts{
  position: relative;
  background-color: var(--slightly-desaturated-lime-green);
}

.services-item-discounts::before {
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  content: "";
  background: url("../img/decorative/bolwing-basket.svg") no-repeat;
}

.services-item-delivery{
  position: relative;
  background-color: var(--basic-light-orange);
}

.services-item-delivery::before {
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
  content: "";
  background: url("../img/decorative/car.svg") no-repeat;
}

/*list-tool-slide*/

.tool-subtitle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.tool-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.link-slide {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  min-width: 192px;
  top: 201px;
  left: 24px;
  padding: 11px 46px 9px 46px;
  box-sizing: border-box;
  background-color: var(--bright-red);
  color: var(--basic-white);
}

.link-slide:hover,
.link-slide:focus {
  background-color: var(--strong-red);
}

.link-slide:active {
  background-color: var(--extra-strong-red);
}

/*popular-products*/

.section-saber {
  display: grid;
  grid-template-columns: 720px 220px;
  width: 940px;
  background-color: var(--light-grayish-orange);
  box-sizing: border-box;
}

.title-popular-manufacturers,
.title-popular-products {
  padding: 29px 28px 30px 28px;
  box-sizing: border-box;
}


.popular-products,
.popular-manufacturers {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 20px;
  margin-bottom: 70px;
}

.product-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 318px;
  border: 1px solid var(--light-black);
  padding-top: 6px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.product-item-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 118px;
}

.product-item:hover,
.product-item:focus {
  box-shadow: 0 4px 20px var(--very-light-black);
}

.product-container-img {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  width: 184px;
  height: 164px;
  margin-bottom: 8px;
  z-index: 2;
  background-color:  var(--basic-white);
}

.product-container-img img:not(){
  margin-left: 30px;
}

.product-btn {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  padding-top: 31px;
  width: 184px;
  height: 164px;
  margin-right: 2px;
  margin-bottom: 8px;
  z-index: 1;
}

.product-item:hover > .product-container-img,
.product-item:focus-within > .product-container-img {
  opacity: 0;
  z-index: 0;
}

.heading-primary {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: var(--dark-desaturated-blue);
  text-transform: uppercase;
}

.list-popular-products {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-all {
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.link-all:hover,
.link-all:focus {
  background-color: var(--strong-red);
}

.link-all:active {
  background-color: var(--extra-strong-red);
}

.section-btn-all {
  display: inline-block;
  vertical-align: top;
  min-width: 192px;
  text-align: center;
  min-height: 38px;
  padding: 11px 24px 9px 24px;
  box-sizing: border-box;
}

.btn-popular-manufacturers {
  padding: 25px 19px 26px 5px;
  text-align: end;
  box-sizing: border-box;
}

.btn-popular-products {
  padding: 25px 14px 26px 14px;
  text-align: end;
  box-sizing: border-box;
}

.btn-buy, .btn-bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
}

.btn-bookmark {
  width: 135px;
  height: 38px;
  background-color: var(--basic-white);
  text-decoration: none;
  border: 3px solid var(--dark-moderate-green);
  border-radius: 2px;
  color: var(--dark-desaturated-blue);

}

.btn-bookmark:hover,
.btn-bookmark:focus {
  border: 3px solid var(--dark-desaturated-blue);
}

.btn-bookmark:active {
  opacity: 0.5;
}

.btn-buy {
  width: 135px;
  height: 38px;
  background-color: var(--dark-moderate-green);
  background-image: url("../img/decorative/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 30px 10px;
  text-decoration: none;
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--light-green);
  border: none;
  padding-left: 19px;
  border-radius: 2px;
  margin-bottom: 10px;
}



.btn-buy:hover,
.btn-buy:focus {
  background-color: var(--strong-green);
}

.btn-buy:active {
  background-color: var(--dark-green);
}

.caption-product {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 7px 0;
}

.link-product {
  color: var(--basic-black);
}

.old-price {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: var(--basic-gray);
  margin: 0 0 15px 0;
}

.price-product-arrow {
  width: 141px;
  height: 38px;
  background-color: var(--bright-red);
  background-image:
    linear-gradient(225deg,var(--basic-white) 11%, transparent 11%),
    linear-gradient(315deg,var(--basic-white) 11%, transparent 11%);
  border-radius: 2px;
  margin-left: 15px;
}

.product-item .link-product:focus {
  outline: 1px dotted var( --dark-desaturated-blue);
}

.price-product {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translateX(-59%) translateY(-50%);
}


/*popular-manufacturers*/

.section-manufacturers-all {

  padding: 11px 0 0 39px;
  width: 153px;
  height: 27px;
}

.section-manufacturers-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.manufacturers-item a {
  display: block;
  height: 145px;
}

.manufacturers-item:hover {
  box-shadow: 0 4px 20px var(--very-light-black);
}

.manufacturers-item a:focus {
  box-shadow: 0 4px 20px var(--very-light-black);
}

.manufacturers-item:active {
  box-shadow: 0 4px 20px var(--very-light-black);
  opacity: 0.5;
}




/*advantage-offers*/

.advantage-offers-bar {
  margin-bottom: 71px;
  padding-top: 64px;
  background-color: var(--light-grayish-blue);
}

.advantage-title-offers {
  margin: 0 0 25px 0;
  padding: 0;
  color: var(--basic-black);
}

.advantage-offers-list {
  position: relative;
  list-style: none;
  padding: 0 0 99px 0;
  margin: 0;
}

.advantage-offers-list::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  bottom: 50px;
  left: 230px;
  background: url("../img/decorative/shadow.svg");
}

.advantage-offers {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.text-services-delivery,
.text-services-guarantee,
.text-services-credit {
  margin: 0;
  padding: 0;
  width: 331px;
  min-height: 122px;
}

.services-advantage {
  margin-bottom: 70px;
  grid-column: 1/-1;
}

.services-advantage p {
  margin: 0;
}

.text-company {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.advantage-title {
  margin: 0 0 30px 0;
  padding: 0;
  color: var(--dark-desaturated-blue);
}

.services-offers-list,
.advantage-tabs-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 80px;
}

.link-btn-credit {
  display: block;

  background-color: var(--light-red);
  color: var(--basic-white);
}

.link-btn-credit:hover {
  background-color: var(--bright-red);
}

.link-btn-credit:active {
  background-color: var(--extra-strong-red);
}

.item-offers {
  margin-top: 1px;  
}

.button-offers {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  width: 240px;
  min-height: 61px;
  
  text-align: start;
  border: none;
  box-sizing: border-box;
}

.button-offers-click {
  padding: 0 0 3px 22px;
  color: var(--dark-desaturated-blue);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);
}

.button-offers-rest:hover,
.button-offers-rest:focus {
  outline: none;
  background-color: var(--extra-desaturated-blue);
  box-shadow: 0px 1px 0px var(--extra-desaturated-blue), inset 0px 1px 0px var(--extra-black);
}

.button-offers-rest {
  padding: 0 0 3px 22px;
  color: var(--basic-white);
  background-color: var(--dark-desaturated-blue);
  box-shadow: 0px 1px 0px var(--extra-desaturated-blue), inset 0px 1px 0px var(--extra-black);
}

.link-btn-credit {
  width: 151px;
  height: 27px;
  padding: 10px 0 0 45px;
}

.advantage-tabs-item {
  width: 619px;
  padding-bottom: 101px;
  background: url("../img/background/delivery.png") no-repeat;
  background-position: right;
  background-position-y: 20px;
}



/*about-us*/

.about-us {
  display: grid;
  grid-template-columns: 460px 300px;
  gap:180px;
  width: 940px;


}

.about-company {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.title-about-company,
.title-contacts {
  color: var(--basic-black);
  padding: 0;
  margin-bottom: 24px;
}

.text-about-company {
  padding: 0;
  margin: 0 0 26px 0;
}

.text-contacts {
  padding: 0;
  margin: 0 0 32px 0;
}


.text-about-company:last-of-type {
  margin: 2px;
}

.link-company:last-of-type {
  margin: 0px;
}

.list-company {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 0 19px 38px;
}

.link-company {
  position: relative;
  margin-bottom: 12px;
}

.link-company::before {
  position:absolute;
  vertical-align: top;
  content: "";
  width: 25px;
  height: 2px;
  top: 11px;
  left: -38px;
  background-color: var(--bright-red);
  margin: 0 12px 4px 0;

}

.link-about-company {
  display: block;
  width: 140px;
  padding: 11px 40px 9px 40px;
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.link-about-company:hover,
.link-about-company:focus {
  background-color: var(--strong-red);
}

.link-about-company:active {
  background-color: var(--extra-strong-red);
}

.link-contacts {
  display: block;
  width: 178px;
  padding: 11px 61px 9px 61px;
  background-color: var(--bright-red);
  color: var(--basic-white)
}

.link-map-contacts:focus img {
  outline: 2px dotted var(--dark-desaturated-blue);
}

.link-map-contacts {
  height: 158px;
  margin-bottom: 25px;
}

.link-contacts:hover,
.link-contacts:focus {
  background-color: var(--strong-red);
}

.link-contacts:active {
  background-color: var(--extra-strong-red);
}

/*footer*/


.link-logo {
  display: block;
  width: 220px;
  height: 68px;
  margin-bottom: 23px;
}

.logo-address {
  margin: 0 0 54px 0;
}

.text-address {
  padding-left: 2px;
  margin: 0;
}

.link-footer-tel, .text-address {
  color: var(--basic-white);
  background-color: transparent;
}

.link-footer-tel:focus {
  outline: 1px dotted var(--basic-white);
}

.footer-top-bar {
  background-color: var(--dark-desaturated-blue);
}

.footer-top {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.footer-navigation {
  padding-top: 37px;
}

.footer-navigation-list,
.footer-list-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding:0;
  margin: 0;
}

.footer-navigation-list li:not(:first-child) {
  margin-left: 59px;
}
.footer-list-product li:not(:first-child)  {
  margin-left: 59px;
}

.footer-navigation-list {
  margin-bottom: 34px;
}

.footer-bottom-bar {
  background-color: var(--extra-desaturated-blue);
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 31px 0 22px 0;
}

.text-copyright,
.footer-bottom ul {
  margin: 0;
}

.list-social-network {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 0 0 76px;

}

.footer-navigation-link{
  color: var(--light-white);
}

.icon-social-network:hover path:first-of-type,
.link-social-network:focus-within path:first-of-type {
  fill: var(--bright-red);
}

.footer-link-product {
  color: var(--very-light-orange);
}



.footer-navigation-list,
.footer-list-product,
.list-social-network {
  list-style: none;
}

.footer-bottom-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 13px;
  padding: 5px 0 0 0;
}

.text-site {
  margin: 0;
}

.text-email{
  margin: 0 51px 0 0;
}

.text-copyright,
.text-email,
.text-site {
  color: var(--basic-white);
}

.text-copyright {
  padding-top: 5px;
}

.footer-navigation-link:hover,
.footer-link-product:hover,
.link-email:hover,
.link-site:hover,
.footer-navigation-link:focus,
.footer-link-product:focus,
.link-email:focus,
.link-site:focus {
  text-decoration: underline;
}

.footer-navigation-link:active,
.footer-link-product:active {
  mix-blend-mode: normal;
  text-decoration:none;
  opacity: 0.5;
}

.link-email:active,
.link-site:active {
  color: var(--bright-red);
  text-decoration: none;
}

/*pop-up-write*/

.link-site, .link-email {
  color: var(--very-light-orange);
}

.text-info-contact {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.hiding-content {
  display: none;
}

/*catalog*/

.main-content {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  gap: 20px;
  margin-bottom: 59px;
}

.catalog-product-title {
  color: var(--dark-desaturated-blue);
  background-color: var(--light-gray-white);
  grid-column: 1/-1;
  padding: 30px 30px;
}


.breadcrumbs-link {
  display: inline-block;
  vertical-align: top;
  color: var(--basic-black);
}

.breadcrumbs-arrow {
  width: 8px;
  height: 12px;
  margin: 5px 0 0 0;
  background: url("../img/decorative/arrow.svg") no-repeat;
}



.breadcrumbs-item:last-of-type {
  padding: 0 0 0 1px;
}

.breadcrumbs-home {
  width: 14px;
  height: 12px;
  margin-top: 5px;
  background: url("../img/decorative/home.svg") no-repeat;
}

.breadcrumbs-catalog {
  grid-column: 1/-1;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 16px;
}

.breadcrumbs-item:not(:first-of-type) {
  margin-left: 17px;
}

.breadcrumbs-item:nth-child(n+1) a:focus {
  outline: 1px dotted var( --dark-desaturated-blue);
}

.catalog-filter  {
  grid-row: 2;
  grid-column: 1/1;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 38px;
  padding: 1px 15px 0 18px;
  box-sizing: border-box;
  border-radius: 3px;;
  background-color: var(--light-beige);
}

.sorting-bar {
  min-width: 443px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-text {
  margin: 0 140px 0 2px;
}

.breadcrumbs-list-sorting {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}


/*breadcrumbs-catalog*/

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
  padding: 5px 0 0 0;
  list-style: none;
  box-sizing: border-box;
}



.subject-catalog {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.descending-order:hover path,
.descending-order:focus path,
.ascending-order:hover path,
.ascending-order:focus path {
  fill: var(--basic-black);
}

.descending-order:active path,
.ascending-order:active path {
  fill: var(--bright-red);
}

/*Filter*/

.fieldset-filter {
  border: none;
  padding: 0;
  margin: 0;
}

.title-filter-price {
  margin-bottom: 11px;
}

.btn-submit {
  width: 220px;
  min-height: 38px;
  padding: 10px;
  text-decoration: none;
  background-color: var(--basic-white);
  border: 1px solid var(--light-extra-gray);
}

.title-filter {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;

}

.title-power {
  margin-bottom: 23px;
}

.filter-power {
  margin: 0 0 36px 0;
  padding: 0 0 0 35px;
}

.filter-power li:not(:last-child) {
  margin: 0 0 23px;
}

.title-filter-manufacturer {
  margin-bottom: 16px;
}

.subject-filter {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.range-price-text {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  margin: 0 0 29px 0;
}

.range-price-text::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 1px;
  background-color: var(--very-light-extra-gray);
  right: 105px;
  bottom: 19px;
}

.range-text {
  display: inline-block;
  width: 95px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding: 8px 24px;
  border: 0;
  border-radius: 3px;
  background-color: var(--light-beige);
  box-sizing: border-box;
}

.filter-manufacturer li:not(:last-child) {
  margin-bottom: 20px;
}

.filter-manufacturer {
  margin: 0 0 29px 0;
  padding: 0 0 0 35px;
}

.range-price {
  position: relative;
  width: 180px;
  height: 41px;
  padding: 39px 20px 0 20px;
  margin-bottom: 9px;
  border-radius: 4px;
  background-color: var(--light-beige);
}

.range-price .scale {
  height: 2px;
  background: var(--basic-gray-white);
}

.range-price .bar {
  width: 80%;
  height: 2px;
  background: var(--extra-green);
}

.range-price .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-beige);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--very-light-beige);
}

.range-price .toggle:focus {
  outline: 1px dotted var(--extra-desaturated-blue);
}

.range-price .toggle-min {
  left: 18px;
}

.range-price .toggle-max {
  left: 160px;
}

.catalog-filter-caption {
  padding: 10px 18px;
  margin: 0 0 14px 0;
  background-color: var(--light-beige);
  border-radius: 3px;
}

.price-filter {
  border-bottom: 1px solid var(--light-black);
  margin: 0 0 16px 0;
}

.fieldset-manufacturer {
  border-bottom: 1px solid var(--light-black);
  margin: 0 0 18px 0;
}

.filter-manufacturer label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox + label::before {
  position: absolute;
  content: "";
  left: -35px;
  width: 23px;
  height: 23px;
  background: url("../img/decorative/checkbox-off-aiming.svg") no-repeat;
  opacity: 0.78;
}

.filter-checkbox:focus + label {
  outline: 1px dotted var( --dark-desaturated-blue);
}

.filter-checkbox:hover + label::before {
  opacity: 1;
}

.filter-checkbox:checked + label::before {
  position: absolute;
  content: "";
  left: -35px;
  width: 27px;
  height: 23px;
  background: url("../img/decorative/checkbox-on-aiming.svg") no-repeat;
  opacity: 0.77;
}

.filter-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-checkbox:disabled + label {
  color: var(--veri-dark-black);
}

.filter-checkbox:checked:hover + label::before {
  opacity: 1;
}

.filter-power label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-radio + label::before {
  position: absolute;
  content: "";
  top:-2px;
  left: -35px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--light-gray);
  border-radius: 50%;
}

.filter-radio:checked + label::before {
  background-color: var(--light-gray);
  box-shadow: inset 0 0 0 4px var(--basic-white);
}

.filter-radio:hover + label::before {
  border: 4px solid var(--dark-light-gray);
}

.filter-radio:checked:hover + label::before {
  border: 4px solid var(--dark-light-gray);
  background-color: var(--dark-light-gray);
  box-shadow: inset 0 0 0 4px var(--basic-white);
}

.filter-radio:focus + label {
  outline: 1px dotted var( --dark-desaturated-blue);
}

.filter-radio:disabled + label {
  opacity: 0.4;
}

.filter-radio:disabled + label::before {
  opacity: 0.3;
}

.list-hiding {
  list-style: none;
}



/*list-perforators*/

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  column-gap: 20px;
  row-gap: 18px;
  margin: 0;
  padding: 0;
}

/*pagination*/
.pagination-link-current {
  background-color: var(--bright-red);
  border: 1px solid var(--bright-red);
  color: var(--basic-white);
  border-radius: 2px;
}

.main-product-list {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 28px;
  grid-column: 2/-1;
  grid-row: 2;
}

.pagination {
  grid-row: 3;
  grid-column: 2/-1;
  padding-top: 28px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.pagination-link-current,
.pagination-link,
.pagination-link-next {
  margin-right: 10px;
  display: block;
}

.pagination-link-current,
.pagination-link {
  width: 8px;
  height: 18px;
  padding: 9px 14px;
  border-radius: 2px;
}

.pagination-link-next {
  width: 77px;
  height: 18px;
  padding: 9px 31px 9px 30px;
  border-radius: 2px;
}

.pagination-link,
.pagination-link-next {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid var(--light-extra-gray);
  border-radius: 2px;
}

.pagination-link:hover,
.pagination-link-next:hover,
.pagination-link:focus,
.pagination-link-next:focus  {
  border: 1px solid var(--light-gray);
}

.pagination-link:active,
.pagination-link-next:active {
  border: 1px solid var(--bright-red);
}

/*sorting*/

.sorting-item:hover,
.sorting-item-current:hover,
.sorting-item:focus,
.sorting-item-current:focus {
  border-bottom: 1px solid var(--bright-red);
  color: var(--basic-black);
}

.sorting-item-price {
  margin-right: 72px;
}

.sorting-item-type {
  margin-right: 65px;
}


.sorting-item-current {
  color: var(--bright-red);
}

.sorting-price li:first-child{
  margin-right: 21px;
}

.sorting-item {
  color: var(--semi-dark-black);
  border-bottom: 1px dotted var(--bright-red) ;
}


.sorting-item:active,
.sorting-item-current:active {
  border-bottom: none;
  color: var(--bright-red);
  opacity: 1;
}

/*about-perforator*/

.about-product-bar {
  min-height: 197px;
  background-color: var(--light-grayish-blue);
}

.about-product-title {
  margin: 0 0 25px 0;
}

.about-product-text {
  margin: 0;
}

.about-product {
  min-height: 167px;
  padding-top: 64px;
  padding-bottom: 30px;
}

/*popup-cart*/

.product-added-text{
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 7px 2px 0 0; 
}

.oval {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 42px;
  left: 40px;
  background: url("../img/decorative/oval.svg") no-repeat;
}

.popup-place-order {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--bright-red);
  text-transform: uppercase;
  padding: 11px 47px 9px 46px;
  margin-right: 10px;
}

.popup-place-order:hover,
.popup-place-order:focus {
  background-color: var(--strong-red);
}

.continue-shopping {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  padding: 11px 31px 9px 32px;
}

.continue-shopping:hover,
.continue-shopping:focus {
  outline: 1px dotted var(--extra-desaturated-blue);
}

/*footer catalog*/

.link-logo-footer {
  display: flex;
  align-items: flex-end;
  width: 220px;
  height: 67px;
  margin-bottom: 23px;
  overflow: hidden;
}

.link-logo-footer a {
  height: 68px;
}

.link-logo-catalog:focus .logo-footer {
  outline: 1px dotted var(--basic-white);
}

/*modal*/

.modal {
  position: fixed;
  top: auto;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0 20px 40px var(--very-dark-black), inset 0 7px 0 0 var(--bright-red);
  z-index: 5;
}

.modal-write-us {
  right: 15px;
  bottom: 352px;
  right: 15px;
  width: 620px;
  min-height: 430px;
  padding: 46px 0 0 0;
  background-color: var(--basic-white);
}

.modal-map {
  display: flex;
  align-items: flex-end;
  right: 15px;
  bottom: 335px;
  left: 0;
  width: 940px;
  height: 447px;
  background-color: var(--basic-white);
}

.oval + div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-product-added {
  left: 659px;
  bottom: 352px;
  width: 620px;
  min-height: 282px;
  background-color: var(--basic-white);
}

.modal-map iframe {
  border: none;
}

.label-name,
.label-email,
.label-message {
  display: block;
  margin-bottom: 9px;
}

.fill-fields {
  display: grid;
  grid-template-rows: 1fr min-content;
}

.user-fill-fields {
  display: flex;
  flex-wrap: wrap;
  margin: 0 80px 31px 80px;
}

.input-name {
  margin-bottom: 8px;
}

.style-input-modal {
  border: 2px solid var(--light-gray);
  border-radius: 2px;
  width: 220px;
  height: 38px;
  padding: 0 12px 0 8px;
  box-sizing: border-box;
  outline: none;
}

.style-btn-send-modal {
  display: inline-block;
  vertical-align: top;
  width: 460px;
  height: 38px;
  outline: none;
  background-color: var(--bright-red);
  color: var(--basic-white);
  border: none;
}

.style-btn-send-modal:focus,
.style-btn-send-modal:hover {
  background-color: var(--strong-red);
}

.text-mail-modal {

  width: 460px;
  height: 114px;
  border: 2px solid var(--light-gray);
  border-radius: 2px;
  padding: 6px 12px 0 8px;
  box-sizing: border-box;
  resize: none;
  outline: none;
}



.user-name {
  margin-right: 20px;
  margin-bottom: 7px;
}

.btn-send-modal-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 112px;
  background-color: var(--extra-light-beige);
}

.btn-close-modal {
  position: absolute;
  border: none;
  outline: none;
  width: 21px;
  height: 21px;
  background: url("../img/decorative/icon-close.svg") transparent;
}

.btn-close-modal:focus {
  outline: 1px dotted var(--extra-desaturated-blue);
}

.btn-modal-write-us {
  top: 21px;
  left: 588px;
}

.btn-modal-map {
  top: 17px;
  left: 910px;
}

.btn-modal-product-added {
  top: 18px;
  right: 13px;
}

@keyframes shaking {
  0% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.not-filled {
  animation-name: shaking;
  animation-duration: 0.2s;
}

@keyframes surfacing {
  0% {
    transform: translatey(-750px);
  } 
  100% {
    transform: translatey(0px);
  }
}

.opening-modal {
  animation-name: surfacing;
  animation-duration: 1s;
}

.not-filled-shadow {
  box-shadow: 0 0 6px 3px var(--bright-red);
}

@keyframes surfacing-map {
  0% {
    transform: translatey(750px);
  } 
  100% {
    transform: translatey(0px);
  }
}

.opening-modal-map {
  animation-name: surfacing-map;
  animation-duration: 0.5s;
}